    .textButton {
        font-size: 12px;
        font-weight: $ft-medium;
        color: $light;
        background-color: $secondary;
        border: none;
        width: 215px;
        height: 60px;
        cursor: pointer;
    }
