@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

.Hero{
    height: 100vh;
}

.Hero > .overlay
{
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.62);
}

.Hero > .bg-image {
  background-image: url("../../assets/img/hero.jpg");
  filter: blur(12px);
  -webkit-filter: blur(12px);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}

.Hero > header {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: var(--light)
}

.Hero > header > *{
    margin: 0;
    padding: 0;
}

.Hero > header > img {
    width: 75px;
    height: 111px;
    margin-bottom: 20px;
}

.Hero h1 {
    font-family: 'Fredericka the Great', 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 60px;
    text-transform: uppercase;
}

.Hero h2 {
    font-family: 'Geo', 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 35px;
    text-transform: uppercase;
    margin: -10px 0 30px 0;
}




