@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  /* colors */
  --dark: #121212;
  --light: #ffffff;
  --primary: #40382D;
  --secondary: #ef4242;
  
  /* fonts */
  --ft-light: 300;
  --ft-regular: 400;
  --ft-medium: 500;

}


